@mixin dot($value:30px,$color:#d8ff66,$left:-8px){
  height:$value;
  width:$value;
  @include border-radius($value);
  background: $color;
  @include inline-block;
  margin-left: $left;
}
@mixin _animation($name:xDeg,$time:4s,$func:linear,$delay:3s,$count:infinite,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
@mixin _opacity($name:_opacity,$time:2s,$func:linear,$delay:0s,$count:infinite,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
@mixin _run($name:_run,$time:2s,$func:linear,$delay:0s,$count:1,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
@mixin gradientlinear($start,$end,$startcolor,$endcolor){
  background: $startcolor; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyNzFkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU1YjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  $startcolor $start, $endcolor $end); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$startcolor), color-stop($end,$endcolor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $startcolor $start,$endcolor $end); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $startcolor $start,$endcolor $end); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $startcolor $start,$endcolor $end); /* IE10+ */
  background: linear-gradient(to bottom,  $startcolor $start,$endcolor $end); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$startcolor}, endColorstr=#{$endcolor},GradientType=0 ); /* IE6-8 */
}
.head{
  font-size: 1.6em;
  font-family: "Microsoft yahei";
  margin-bottom:10px;
}
.left_box{
  width:45%;
  float:right;
  margin-bottom: 10px;
}
.text_style{
  font-size: .9em;
  line-height: 25px;
  color:#000;
  text-indent: 1.5em;
}
