@mixin dot($value:30px,$color:#d8ff66,$left:-8px){
  height:$value;
  width:$value;
  @include border-radius($value);
  background: $color;
  @include inline-block;
  margin-left: $left;
}
@mixin _animation($name:xDeg,$time:4s,$func:linear,$delay:3s,$count:infinite,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
@mixin _opacity($name:_opacity,$time:2s,$func:linear,$delay:0s,$count:infinite,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
@mixin _run($name:_run,$time:2s,$func:linear,$delay:0s,$count:1,$back:alternate){
  animation: $name $time $func $delay $count $back;
  -webkit-animation: $name $time $func $delay $count $back;
  -moz-animation: $name $time $func $delay $count $back;
  -o-animation: $name $time $func $delay $count $back;
  -ms-animation:$name $time $func $delay $count $back;
}
.head{
  font-size: 1.6em;
  font-family: "Microsoft yahei";
  margin-bottom:10px;
}
.left_box{
  width:45%;
  float:right;
  margin-bottom: 10px;
}
.text_style{
  font-size: .9em;
  line-height: 25px;
  color:#000;
  text-indent: 1.5em;
}
