@import "compass/reset";
@import "compass/css3";
*{
	padding:0;
	margin:0;
}
.clearfix{
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
@keyframes smalls{
    10%{
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0.6;
    }
    80%{
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes smalls{
    10%{
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0.6;
    }
    80%{
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0.6;
    }
  }
  .active{
	-webkit-animation-name: smalls;
    animation-name: smalls;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


#wrapper{
	width:60%;
	margin:20px auto;
	padding:5px;
	border:#e5e5e5 solid 2px;
	#header{
		border:#e5e5e5 solid 2px;
		padding:5px;
		.resu{
			height:150px;
			width:150px;
			@include border-radius(150px);
			@include inline-block;
			background: blue;
			transform: scale(1,0.7);
			text-align: center;
			line-height: 150px;
			vertical-align: middle;
			color:#fff;
			.re{
				font-family: "Microsoft yahei";
				font-size: 4em;
			}
			.su{
				font-family: "Microsoft yahei";
				font-size: 2.5em;
			}
			&:hover{
				-webkit-animation-name: smalls;
			    animation-name: smalls;
			    -webkit-animation-duration: 0.7s;
			    animation-duration: 0.7s;
			    -webkit-animation-timing-function: linear;
			    animation-timing-function: linear;
			    -webkit-animation-iteration-count: 1;
			    animation-iteration-count: 1;
			}
		}
		.name{
			@include inline-block;
			margin-left: 40px;
			.na{
				font-family: "Microsoft yahei";
				font-size: 2.5em;
			}
			.web{
				font-family: "Microsoft yahei";
				color:#666;
				font-size: 2em;
			}
		}
		.pic{
			@include inline-block;
			width:100px;
			height:140px;
			float: right;
		}
	}
	#content{
		@mixin head{
　　font-size: 1.6em;
	font-family: "Microsoft yahei";
	margin-bottom:10px;
}
		border:#e5e5e5 solid 2px;
		padding:5px;
		margin:20px auto;
		.proj{
			width:48%;
			float:left;
			border:#e5e5e5 solid 2px;
			padding:5px;
			.proj_head{
				// font-size: 1.6em;
				// font-family: "Microsoft yahei";
				// margin-bottom:10px;
				@include head;
			}
			.proj_cont{
				margin-bottom: 10px;
				.proj_name{
					margin-bottom: 10px;
					span{
						font-family: "Microsoft yahei";
						font-size: 1.2em;
					}
				}
				p{
					font-family: "Microsoft yahei";
					font-size: .9em;
					line-height: 20px;
				}
				

			}
		}
		.pers_info{
			width:48%;
			float:right;
			border:#e5e5e5 solid 2px;
			padding:5px;
			.info_head{
				font-size: 1.6em;
				font-family: "Microsoft yahei";
				margin-bottom:10px;
			}
		}
	}
	#footer{

	}
}