@import "animation.scss";
@import "setFirst.scss";
@import "defined.scss";
body{
  @include gradientlinear(0%,100%,#d9eff5,#e9f5f9);
  font-size:100%;
}
#wrapper{
	width:60%;
	margin:80px auto;
	#header{
		.resu{
			height:150px;
			width:150px;
			@include border-radius(150px);
			@include inline-block;
			background: #ffdf4a;
          transform: scale(1,0.7);
          -ms-transform: scale(1,0.7);
          -moz-transform: scale(1,0.7);
          -webkit-transform: scale(1,0.7);
          -o-transform: scale(1,0.7);
			text-align: center;
			line-height: 150px;
			vertical-align: middle;
			color:#fff;
			.re{
				font-size: 4em;
              @include _animation(yDeg,2s,linear,4s,infinite,alternate);
			}
			.su{
				font-size: 2.5em;
              @include _animation(yDeg,2s,linear,4s,infinite,alternate);
			}
		}
		.name{
		  @include inline-block;
          padding:30px;
			.na{
				font-size: 2.5em;
				margin-bottom: 10px;
                @include _animation(xDeg,4s,linear,4s,infinite,alternate);
			}
			.web{
				color:#666;
				font-size: 1.7em;
                @include _opacity(_opacity,2s,linear,4s,infinite,alternate);
			}
		}
		.pic{
			@include inline-block;
			width:90px;
			height:120px;
            float:right;
            margin-right: 20px;
            @include _run(_run,4s,linear,0s,1,alternate);
		}
	}
	#content{
		margin:20px auto;
		width:90%;
		.proj{
			width:45%;
			float:left;
			.proj_head{
				@extend .head;
				span{
					@include dot(40px,#e0ff0e,-19px);
				}
                a{
                  &:hover{
                    @include _animation(degs,0.2s,linear,0,1,alternate);
                  }
                }
			}
			.proj_cont{
				margin-bottom: 10px;
				.proj_name{
					margin-bottom: 10px;
					a{
						font-size: 1.2em;
						@include inline-block;
					}
					span{
						@include dot(20px,#d8ff66,-8px);
					}
                  .url{
                    color: #d19d3a;
                    &:hover{
                      text-decoration: underline;
                      color: #c1d140;
                      @include opacity(0.5);
                    }
                  }
				}
				p{
					border-left:5px solid #ffe56b;
					padding-left:15px;
					@extend .text_style;
                  span{
                    &:hover{
                      @include _animation(smalls,0.7s,linear,0,1,alternate);
                    }
                  }
				}
			}
		}
		// right
		.pers_info,
		.prof_skill,
		.get,
		.work{
			@extend .left_box;
			.inner_head{
				@extend .head;
				span{
					@include dot(40px);
				}
              a{
                &:hover{
                  @include _animation(degs,0.2s,linear,0,1,alternate);
                }
              }
			}
			ul{
				@extend .text_style;
              li{
                &:hover{
                  @include _animation(smalls,0.7s,linear,0,1,alternate);
                }
                span{
                  @include dot(13px,#d8ff66,0);
                }
                a{
                  color: #d19d3a;
                  &:hover{
                    text-decoration: underline;
                    color: #c1d140;
                    @include opacity(0.5);
                  }
                }
              }
			}
		}
        .work{
          ul{
            text-indent: 0em;
          }
        }
	}
	#footer{
		.intro_name{
			@extend .head;
			span{
				@include dot(40px,#e0ff0e,30px);
			}
          a{
            &:hover{
              @include _animation(degs,0.2s,linear,0,1,alternate);
            }
          }
		}
		p{
			@extend .text_style;
          &:hover{
            @include _animation(smalls,0.7s,linear,0,1,alternate);
          }
		}
	}
}
@media screen and (max-width: 960px) {
  #wrapper{
    width:100%;
    margin:30px auto;
    #header{
      width:90%;
      margin:auto;
      .name{
        padding:12px;
        .na{
          font-size:1.4em;
        }
        .web{
          font-size:1em;
        }
      }
    }
    #content{
      margin:20px auto;
      width:90%;
      .proj{
        width:45%;
      }
      .pers_info,
      .prof_skill,
      .get,
      .work{
        width:50%;
      }
    }
    #footer{
      width:90%;
      margin:auto;
    }
  }
}
@media screen and (max-width: 600px) {
  #wrapper{
    width:90%;
    min-width: 400px;
    margin:30px auto;
    #header{
      width:90%;
      margin:auto;
      .resu{
        display: none;
      }
      .name{
        float:left;
        padding:12px;
        .na{
          font-size:1.8em;
        }
        .web{
          font-size:0.8em;
        }
      }
      .pic{
        float:right;
        width:70px;
        height: auto;
        max-width:100px;
        display: block;
      }
    }
    #content{
      margin:20px auto;
      width:90%;
      .proj{
        width:100%;
        .proj_head{
          text-align: center;
          span{
            display: none;
          }
        }
        .proj_cont{
          p{
            border-left:0;
            padding-left:0;
          }
        }
      }
      .pers_info,
      .prof_skill,
      .get,
      .work{
        width:90%;
        .inner_head{
          text-align: center;
          span{
            display: none;
          }
        }
      }
    }
    #footer{
      width:80%;
      margin:auto;
      .intro_name{
        text-align: center;
        span{
          display: none;
        }
      }
    }
  }
}