/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/ie.scss */
* {
  padding: 0;
  margin: 0;
  font-family: microsoft yahei,tahoma,arial,\5b8b\4f53,sans-serif !important;
}

/* line 10, ../sass/ie.scss */
a {
  text-decoration: none;
  color: #85c51f;
}
/* line 13, ../sass/ie.scss */
a:hover {
  color: #80bd1e;
}
/* line 16, ../sass/ie.scss */
a:active {
  color: #7cb71d;
}

/* line 20, ../sass/ie.scss */
.clearfix {
  *zoom: 1;
}

/* line 23, ../sass/ie.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 29, ../sass/ie.scss */
.clearfix:after {
  clear: both;
}

@keyframes smalls {
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
}
@-webkit-keyframes smalls {
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
}
/* line 66, ../sass/ie.scss */
.active {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 83, ../sass/ie.scss */
.head, #wrapper #content .proj .proj_head, #wrapper #content .pers_info .inner_head,
#wrapper #content .prof_skill .inner_head,
#wrapper #content .get .inner_head,
#wrapper #content .work .inner_head, #wrapper #footer .intro_name {
  font-size: 1.6em;
  font-family: "Microsoft yahei";
  margin-bottom: 10px;
}

/* line 88, ../sass/ie.scss */
.left_box, #wrapper #content .pers_info,
#wrapper #content .prof_skill,
#wrapper #content .get,
#wrapper #content .work {
  width: 48%;
  float: right;
  margin-bottom: 10px;
}

/* line 93, ../sass/ie.scss */
.text_style, #wrapper #content .proj .proj_cont p, #wrapper #content .pers_info ul,
#wrapper #content .prof_skill ul,
#wrapper #content .get ul,
#wrapper #content .work ul, #wrapper #footer p {
  font-size: .9em;
  line-height: 20px;
  color: #666;
}

/* line 99, ../sass/ie.scss */
#wrapper {
  width: 60%;
  margin: 20px auto;
}
/* line 104, ../sass/ie.scss */
#wrapper #header .resu {
  height: 150px;
  width: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: blue;
  transform: scale(1, 0.7);
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  color: #fff;
}
/* line 115, ../sass/ie.scss */
#wrapper #header .resu .re {
  font-size: 4em;
}
/* line 118, ../sass/ie.scss */
#wrapper #header .resu .su {
  font-size: 2.5em;
}
/* line 121, ../sass/ie.scss */
#wrapper #header .resu:hover {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 132, ../sass/ie.scss */
#wrapper #header .name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 40px;
}
/* line 135, ../sass/ie.scss */
#wrapper #header .name .na {
  font-size: 2.5em;
  margin-bottom: 10px;
}
/* line 139, ../sass/ie.scss */
#wrapper #header .name .web {
  color: #666;
  font-size: 1.7em;
}
/* line 144, ../sass/ie.scss */
#wrapper #header .pic {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100px;
  height: 140px;
  float: right;
  margin-right: 10px;
}
/* line 152, ../sass/ie.scss */
#wrapper #content {
  margin: 20px auto;
  width: 90%;
}
/* line 155, ../sass/ie.scss */
#wrapper #content .proj {
  width: 48%;
  float: left;
}
/* line 160, ../sass/ie.scss */
#wrapper #content .proj .proj_head span {
  height: 50px;
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: yellow;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -23px;
}
/* line 165, ../sass/ie.scss */
#wrapper #content .proj .proj_cont {
  margin-bottom: 10px;
}
/* line 167, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name {
  margin-bottom: 10px;
}
/* line 169, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name a {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 173, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name span {
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: yellow;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -13px;
  font-size: 1.2em;
}
/* line 179, ../sass/ie.scss */
#wrapper #content .proj .proj_cont p {
  border-left: 5px solid yellow;
  padding-left: 15px;
}
/* line 196, ../sass/ie.scss */
#wrapper #content .pers_info .inner_head span,
#wrapper #content .prof_skill .inner_head span,
#wrapper #content .get .inner_head span,
#wrapper #content .work .inner_head span {
  height: 50px;
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: yellow;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -23px;
}
/* line 209, ../sass/ie.scss */
#wrapper #footer .intro_name span {
  height: 50px;
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: yellow;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
