/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/ie.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/ie.scss */
.clearfix {
  *zoom: 1;
}

/* line 10, ../sass/ie.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 16, ../sass/ie.scss */
.clearfix:after {
  clear: both;
}

@keyframes smalls {
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
}
@-webkit-keyframes smalls {
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }
}
/* line 53, ../sass/ie.scss */
.active {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 64, ../sass/ie.scss */
#wrapper {
  width: 60%;
  margin: 20px auto;
}
/* line 68, ../sass/ie.scss */
#wrapper #header .resu {
  height: 150px;
  width: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: blue;
  transform: scale(1, 0.7);
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  color: #fff;
}
/* line 79, ../sass/ie.scss */
#wrapper #header .resu .re {
  font-family: "Microsoft yahei";
  font-size: 4em;
}
/* line 83, ../sass/ie.scss */
#wrapper #header .resu .su {
  font-family: "Microsoft yahei";
  font-size: 2.5em;
}
/* line 87, ../sass/ie.scss */
#wrapper #header .resu:hover {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 98, ../sass/ie.scss */
#wrapper #header .name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 40px;
}
/* line 101, ../sass/ie.scss */
#wrapper #header .name .na {
  font-family: "Microsoft yahei";
  font-size: 2.5em;
}
/* line 105, ../sass/ie.scss */
#wrapper #header .name .web {
  font-family: "Microsoft yahei";
  color: #666;
  font-size: 2em;
}
/* line 111, ../sass/ie.scss */
#wrapper #header .pic {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100px;
  height: 140px;
  float: right;
}
