/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/ie.scss */
* {
  padding: 0;
  margin: 0;
  font-family: microsoft yahei,tahoma,arial,\5b8b\4f53,sans-serif !important;
}

/* line 10, ../sass/ie.scss */
a {
  text-decoration: none;
  color: #85c51f;
}
/* line 13, ../sass/ie.scss */
a:hover {
  color: #80bd1e;
}
/* line 16, ../sass/ie.scss */
a:active {
  color: #7cb71d;
}

/* line 20, ../sass/ie.scss */
.clearfix {
  *zoom: 1;
}

/* line 23, ../sass/ie.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 29, ../sass/ie.scss */
.clearfix:after {
  clear: both;
}

@keyframes smalls {
  10% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: .8;
  }
  100% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
}
@-ms-keyframes smalls {
  10% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: .8;
  }
  100% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
}
@-moz-keyframes smalls {
  10% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: .8;
  }
  100% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
}
@-webkit-keyframes smalls {
  10% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .8;
  }
  100% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
}
@-o-keyframes smalls {
  10% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: .8;
  }
  100% {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    opacity: 0.4;
  }
}
@keyframes degs {
  0% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
}
@-ms-keyframes degs {
  0% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
}
@-moz-keyframes degs {
  0% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
}
@-webkit-keyframes degs {
  0% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    opacity: 0.4;
  }
  100% {
    transform: scale(5deg);
    -ms-transform: scale(5deg);
    -moz-transform: scale(5deg);
    -webkit-transform: scale(5deg);
    -o-transform: scale(5deg);
    opacity: 0.7;
  }
}
@-o-keyframes degs {
  0% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    opacity: 0.7;
  }
}
/* line 292, ../sass/ie.scss */
.active {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 310, ../sass/ie.scss */
.head, #wrapper #content .proj .proj_head, #wrapper #content .pers_info .inner_head,
#wrapper #content .prof_skill .inner_head,
#wrapper #content .get .inner_head,
#wrapper #content .work .inner_head, #wrapper #footer .intro_name {
  font-size: 1.6em;
  font-family: "Microsoft yahei";
  margin-bottom: 10px;
}

/* line 315, ../sass/ie.scss */
.left_box, #wrapper #content .pers_info,
#wrapper #content .prof_skill,
#wrapper #content .get,
#wrapper #content .work {
  width: 45%;
  float: right;
  margin-bottom: 10px;
}

/* line 320, ../sass/ie.scss */
.text_style, #wrapper #content .proj .proj_cont p, #wrapper #content .pers_info ul,
#wrapper #content .prof_skill ul,
#wrapper #content .get ul,
#wrapper #content .work ul, #wrapper #footer p {
  font-size: .9em;
  line-height: 25px;
  color: #000;
  text-indent: 1.5em;
}

/* line 327, ../sass/ie.scss */
#wrapper {
  width: 60%;
  margin: 80px auto;
}
/* line 331, ../sass/ie.scss */
#wrapper #header .resu {
  height: 150px;
  width: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #ffdf4a;
  transform: scale(1, 0.7);
  -ms-transform: scale(1, 0.7);
  -moz-transform: scale(1, 0.7);
  -webkit-transform: scale(1, 0.7);
  -o-transform: scale(1, 0.7);
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  color: #fff;
}
/* line 346, ../sass/ie.scss */
#wrapper #header .resu .re {
  font-size: 4em;
}
/* line 349, ../sass/ie.scss */
#wrapper #header .resu .su {
  font-size: 2.5em;
}
/* line 353, ../sass/ie.scss */
#wrapper #header .name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 30px;
  width: 60%;
}
/* line 357, ../sass/ie.scss */
#wrapper #header .name .na {
  font-size: 2.5em;
  margin-bottom: 10px;
  top: 0;
}
/* line 362, ../sass/ie.scss */
#wrapper #header .name .web {
  color: #666;
  font-size: 1.7em;
  top: 50px;
}
/* line 368, ../sass/ie.scss */
#wrapper #header .pic {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 90px;
  height: 120px;
}
/* line 374, ../sass/ie.scss */
#wrapper #content {
  margin: 20px auto;
  width: 90%;
}
/* line 377, ../sass/ie.scss */
#wrapper #content .proj {
  width: 45%;
  float: left;
}
/* line 382, ../sass/ie.scss */
#wrapper #content .proj .proj_head span {
  height: 40px;
  width: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #e0ff0e;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -19px;
}
/* line 386, ../sass/ie.scss */
#wrapper #content .proj .proj_head a:hover {
  -webkit-animation-name: degs;
  animation-name: degs;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 398, ../sass/ie.scss */
#wrapper #content .proj .proj_cont {
  margin-bottom: 10px;
}
/* line 400, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name {
  margin-bottom: 10px;
}
/* line 402, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name a {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 406, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name span {
  height: 20px;
  width: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #d8ff66;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -8px;
}
/* line 409, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name .url {
  color: #a0d1b5;
}
/* line 411, ../sass/ie.scss */
#wrapper #content .proj .proj_cont .proj_name .url:hover {
  text-decoration: underline;
  color: #b9d125;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 418, ../sass/ie.scss */
#wrapper #content .proj .proj_cont p {
  border-left: 5px solid #ffe56b;
  padding-left: 15px;
}
/* line 423, ../sass/ie.scss */
#wrapper #content .proj .proj_cont p span:hover {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 445, ../sass/ie.scss */
#wrapper #content .pers_info .inner_head span,
#wrapper #content .prof_skill .inner_head span,
#wrapper #content .get .inner_head span,
#wrapper #content .work .inner_head span {
  height: 40px;
  width: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #d8ff66;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -8px;
}
/* line 449, ../sass/ie.scss */
#wrapper #content .pers_info .inner_head a:hover,
#wrapper #content .prof_skill .inner_head a:hover,
#wrapper #content .get .inner_head a:hover,
#wrapper #content .work .inner_head a:hover {
  -webkit-animation-name: degs;
  animation-name: degs;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 464, ../sass/ie.scss */
#wrapper #content .pers_info ul li:hover,
#wrapper #content .prof_skill ul li:hover,
#wrapper #content .get ul li:hover,
#wrapper #content .work ul li:hover {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 474, ../sass/ie.scss */
#wrapper #content .pers_info ul li span,
#wrapper #content .prof_skill ul li span,
#wrapper #content .get ul li span,
#wrapper #content .work ul li span {
  height: 13px;
  width: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #d8ff66;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 0;
}
/* line 477, ../sass/ie.scss */
#wrapper #content .pers_info ul li a,
#wrapper #content .prof_skill ul li a,
#wrapper #content .get ul li a,
#wrapper #content .work ul li a {
  color: #a0d1b5;
}
/* line 479, ../sass/ie.scss */
#wrapper #content .pers_info ul li a:hover,
#wrapper #content .prof_skill ul li a:hover,
#wrapper #content .get ul li a:hover,
#wrapper #content .work ul li a:hover {
  text-decoration: underline;
  color: #b9d125;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 489, ../sass/ie.scss */
#wrapper #content .work ul {
  text-indent: 0em;
}
/* line 497, ../sass/ie.scss */
#wrapper #footer .intro_name span {
  height: 40px;
  width: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #e0ff0e;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -19px;
}
/* line 501, ../sass/ie.scss */
#wrapper #footer .intro_name a:hover {
  -webkit-animation-name: degs;
  animation-name: degs;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 515, ../sass/ie.scss */
#wrapper #footer p:hover {
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
